{% extends 'base.html.twig' %}

{% block metatitle %}
	Tout les articles de blog postés
{% endblock metatitle %}

{% block main %}
	<main>
		{% include 'partial/_loop-article.html.twig' %}
    </main>
{% endblock main %}
