{% extends 'base.html.twig' %}

{% block metatitle %}
	Crée ta catégorie !
{% endblock metatitle %}

{% block main %}
	<section class="latest-articles, home-page">
		<h2>Créer une catégorie</h2>
		<div class="articles-list">
			{{ form(categoryForm) }}
			</div>
			</div>
	</section>
{% endblock main %}
{% block flashMessage %}
	{% for message in app.flashes('category_created') %}
		<div class="success-message">{{ message }}</div>
	{% endfor %}
{% endblock flashMessage %}
