{% extends 'base.html.twig' %}

{% block metatitle %}
	Page non trouvée
{% endblock metatitle %}

{% block main %}
	<div>
		<h1>Erreur 404 : Page non trouvée</h1>
        <a href="{{ path('home') }}">
            <h2>Retour à l'accueil</h2>
        </a>
	</div>
{% endblock main %}
